.StartView_mainContent {
  width: 330px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.StartView_ilvesLogo,
.StartView_tapparaLogo {
  height: 110px;
  width: 110px;
}

.StartView_findOutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  padding: 5px;
  font-size: 1rem;
  color: transparent;
  background-color: #6a4c93;
}

.StartView_svg {
  width: 90px;
  height: 90px;
  stroke: #000;
}

.StartView_findOutButton:hover {
  background-color: #503971;
}

.StartView_findOutButton:active {
  border: 3px solid #000;
}

.StartView_buttonText {
  display: none;
}

@media screen and (min-width: 481px) {
  .StartView_mainContent {
    width: 500px;
    gap: 20px;
  }

  .StartView_ilvesLogo,
  .StartView_tapparaLogo {
    height: 150px;
    width: 150px;
  }

  .StartView_findOutButton {
    height: 150px;
    width: 150px;
    padding: 10px;
  }

  .StartView_svg {
    width: 130px;
    height: 130px;
  }
}
